@font-face {
  font-family: "Estedad";
  src: url("font/Estedad[wght\,kshd].ttf") format("woff"),
    url("font/Estedad[wght\,kshd].woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Estedad;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
